@import './variables';
.primary-color {
  color: $primary-color !important;
}
.primary-text-color {
  color: $primary-color !important;
}
.primary-text-color {
  color: $primary-color !important;
}

.bg-primary {
  background-color: $primary-color !important;
}
.primary-color-dark {
  background-color: $primary-color-dark !important;
}

.secondary-color {
  color: $secondary-color !important;
}
.secondary-text-color {
  color: $secondary-color !important;
}

.bg-secondary {
  background-color: $secondary-color !important;
}
.secondary-color-dark {
  background-color: $secondary-color-dark !important;
}

.gradient {
  background: -moz-linear-gradient(
    45deg,
    rgba(223, 113, 10, 0.753),
    rgba(226, 212, 8, 0.7) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(224, 173, 63, 0.7),
    rgba(236, 126, 23, 0.7) 100%
  );
  background: -webkit-gradient(
    linear,
    45deg,
    from(rgba(218, 183, 32, 0.7)),
    to(rgba(230, 181, 23, 0.7))
  );
  background: -o-linear-gradient(
    45deg,
    rgba(219, 198, 6, 0.7),
    rgba(230, 142, 11, 0.7) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(243, 202, 155, 0.7),
    rgba(235, 225, 207, 0.7) 100%
  );
}

.view {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100vw;
}
